<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing Website</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <a href="#" class="logo">AgencyPro</a>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section id="contact " >
            <div class="container testimonial" style="max-width: 50%;">
                <h2>Contact Us</h2>
                <form style="width: 97%;">
                    <input type="text" name="name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="message" placeholder="Your Message" required></textarea>
                    <button type="submit">Send Message</button>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 AgencyPro. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>